<div class="container " style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-12 mt-3">
            <table class="table table-dark table-bordered text-center">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Delete</th>
                    <th>Update</th>

                </tr>
                <tr *ngFor="let p of allProduct; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.discount }}</td>
                    <td><button data-toggle="modal" (click)="askDelete(p)" data-target="#delModal"  class="btn btn-sm btn-danger">Delete</button></td>
                    <td><a class="btn btn-success btn-sm" routerLink="product/edit/{{p._id}}">Update</a></td>

                </tr>
            </table>
        </div>
    </div>
</div>


<app-delete [delItem]="delItem" (delEvent)="confDelete($event)"></app-delete>